---
import Copy from "@/assets/icons/copy.astro";
import { technologies } from "@/services/technologies";
import BentoGrid from "@/components/about-me/bento-grid.astro";
import BentoGridItem from "@/components/about-me/bento-grid-item.astro";
import { Image } from "astro:assets";

// Images
import aboutMeImage from "@/assets/images/about-me.png";
import technologiesImage from "@/assets/images/technologies.webp";
import formationImage from "@/assets/images/formation.webp";
import contactMeImage from "@/assets/images/contact-me.png";
import myFocusImage from "@/assets/images/my-focus.webp";
---

<BentoGrid class="mt-36">
  <!-- about me -->
  <BentoGridItem class="md:col-span-1 md:row-span-3">
    <Image
      src={aboutMeImage}
      alt="abaut me grid image"
      width="355"
      height="276"
      class="w-full sm:h-[276px] h-fit object-contain"
    />

    <h3 class="grid-headtext">Sobre mi</h3>
    <section class="grid-subtext">
      <p>
        Desarrollador web con un enfoque en crear soluciones digitales que no
        solo funcionan, sino que también ofrecen una experiencia de usuario
        excepcional.
      </p>
      <br />
      <p>
        Me especializo en el desarrollo tanto de frontend como de backend,
        utilizando tecnologías modernas para garantizar aplicaciones robustas y
        escalables.
      </p>
    </section>
  </BentoGridItem>

  <!-- technologies -->

  <BentoGridItem class="md:col-span-1 md:row-span-2">
    <Image
      src={technologiesImage}
      alt="technologies grid image"
      width="355"
      height="276"
      class="w-full sm:h-[276px] h-fit object-contain"
    />
    <h3 class="grid-headtext">Tecnologias</h3>
    <div class="flex items-center gap-3 flex-wrap">
      {
        technologies.map((tech) => (
          <div class="flex items-center gap-x-1 border border-white/5 rounded-full px-3 py-1">
            <img src={tech.logo.src} alt={tech.name} width="25" height="25" />
            <span>{tech.name} </span>
          </div>
        ))
      }
    </div>
  </BentoGridItem>

  <!-- Formation -->
  <BentoGridItem class="col-span-1 xl:row-span-2">
    <Image
      src={formationImage}
      alt="formation grid image"
      width="355"
      height="276"
      class="w-full sm:h-[276px] h-fit object-contain"
    />
    <div>
      <h3 class="grid-headtext">Formación</h3>
      <h4 class="font-medium">Misión TIC 2022</h4>
      <p class="grid-subtext">mintic x Universidad autonoma de bucaramanga</p>
      <p class="text-gray-400">Feb 2022 - Dic 2022</p>
      <a
        href="https://res.cloudinary.com/dnbdpnvz1/image/upload/f_auto,q_auto/v1/images_project/portafolio-images/pdf-portafolio/qxtriurb9o3nqb0iyni9"
        target="_blank"
        rel="noopener noreferrer"
        class="text-emerald-300 border-b border-emerald-300"
        >ver certificado
      </a>
    </div>
  </BentoGridItem>

  <!-- contact me -->
  <BentoGridItem class="col-start-1 row-start-4 gap-y-2">
    <Image
      src={contactMeImage}
      alt="contact me grid image"
      width="355"
      height="276"
      class="w-full sm:h-[276px] h-fit object-contain"
    />
    <div class="space-y-2">
      <h3 class="grid-subtext text-center">Contactame</h3>
      <div
        id="copy-email"
        class="cursor-pointer flex justify-center items-center gap-2 active:scale-95 transition-all"
      >
        <span>
          <Copy />
        </span>
        <p
          class="lg:text-2xl text-xl font-medium text-gray_gradient text-white"
        >
          elverdavid0839@gmail.com
        </p>
      </div>
    </div>
  </BentoGridItem>

  <!-- My Focus -->

  <BentoGridItem class="lg:col-span-2 lg:row-span-2">
    <Image
      src={myFocusImage}
      alt="objectives image"
      class="w-full sm:h-[276px] h-fit object-contain"
    />
    <h3 class="grid-headtext">Mi Enfoque</h3>
    <p class="grid-subtext">
      Me enfoco en crear soluciones eficientes y sostenibles, adaptándome a las
      necesidades de cada cliente y siempre buscando la mejor experiencia para
      el usuario final.
    </p>
  </BentoGridItem>
</BentoGrid>

<script is:inline>
  const copyEmail = document.getElementById("copy-email");
  copyEmail?.addEventListener("click", () => {
    navigator.clipboard.writeText("elverdavid0839@gmail.com");
  });
</script>
