---
const title = "Portafolio web de Elver David Pe침ate";

const description =
  "Desarrollador web especializado en tecnologias modernas como React, Next.js, Tailwind CSS, y Node.js. Ofreciendo soluciones innovadoras y eficientes para tus proyectos web.";

const base_url = "https://www.elvportafolio.website";
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <meta property="og:type" content="website" />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <meta name="author" content="Elver David Pe침ate" />

  <meta
    name="keywords"
    content="portafolio web, desarrollador web, elver david pe침ate"
  />

  <!-- title -->
  <title>
    {title}
  </title>
  <meta property="og:title" content={title} />
  <meta property="twitter:title" content={title} />

  <!-- description -->
  <meta name="description" content={description} />
  <meta property="og:description" content={description} />
  <meta property="twitter:description" content={description} />

  <!-- images -->
  <meta property="og:image" content=`${base_url}/og-image.png` />
  <meta property="twitter:image" content=`${base_url}/og-image.png` />

  <!-- url -->
  <meta property="og:url" content={base_url} />
  <meta property="twitter:url" content={base_url} />
  <link rel="canonical" href={base_url} />
</head>

<!-- 
  <head>
    <meta charset="UTF-8" />

   
  

   
   
  

   

  
    <meta property="og:type" content="website" />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <meta
      name="keywords"
      content="Desarrollador Web, React, Next.js, Tailwind CSS, Node.js, Nest.js, Frontend, Backend, Portfolio, Proyectos Web, HTML, CSS, JavaScript, Programaci칩n, Desarrollo de Software, Autodidacta"
    />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
-->
